@page "/Trending"
@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.AspNetCore.Mvc
@inject NavigationManager MyNavigationManager
@using Microsoft.AspNetCore.WebUtilities
@using Microsoft.Data.SqlClient
@using Microsoft.EntityFrameworkCore
@using Models
@using System.Data
@inject MyDbContext Context
@inject IJSRuntime JSRuntime

<PageTitle>@(" Download Trending Movies Free Online | elmovies.com")</PageTitle>
<HeadContent>

    <meta property="og:title" name="description" content="Download free trending movies online. You can download every type of movie in elmovies.com " />
</HeadContent>

<main class="homepage-main">
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container py-2 d-flex flex-row flex-nowrap">
            <a class="navbar-brand" href="#">
                <a href="/">
                    <img class="logo-1 show-on-large" style="width: 198px;" src="../../../assets/s.png" alt="Logo" />
                    <img class="logo-1 hide-on-large" style="width: 47px;" src="../../../assets/foms.png" alt="Logo" />
                </a>
            </a>
            <div class="navbar-nav flex-grow-1 w-100 justify-content-end">
                <div class="px-3">
                    <form action="search" class="search-form autocomplete " id="autocomplete" style="max-height: 200px;">
                        <img src="icons/search.svg" alt="">
                        <input name="q" class="autocomplete-input" type="text"
                               placeholder="Search Your Desired Item here..." value="">
                        <ul class="autocomplete-result-list"></ul>
                        <button type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </nav>
    <header>
    </header>
    <!-- End: Header -->
    <div class="sidebar-overlay overlay">
        <div class="w3-sidebar">

            <br><br><br>

            <div class="collection">
                <div class="collection-item"><a href="trending">Trending</a></div>
                <div class="collection-item"><a href="latest">Latest</a></div>
            </div>

            <div class="w3-bar-item w3-button">
                <div class="w3-col">
                    <div class="w3-col s6"></div>
                    <div class="w3-col s6"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-2">

        <div class="w3-row">
            <div class="w3-col s12">
                <div class="movie-search">
                    <form id="autocomplete" style="max-height: 200px;">
                        <div class="mt-3">
                            <div class="input-group input-group-merge">
                                <span class="input-group-text" id="basic-addon-search31"><i class="fa-solid fa-magnifying-glass"></i></span>

                                <input type="text" class="form-control form-control-lg" placeholder="Search Here..." name="q" value="">
                                <button class="btn btn-primary" type="submit">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            @if (posts.Count == 0)
            {
                <div class="mb-2">&nbsp;</div>
                <h3>No Post Found in trending :(</h3>

            }
            else
            {
                <div class="row">
                    <ul class="col-12">
                        @foreach (var post in posts)
                        {

                            <li class="search-result view-box">
                                <div class="links center-flex ">
                                    <div class="ratio" style="--bs-aspect-ratio: 120%; min-width: 100px">
                                        <img src="@post.Img" alt="" class="br-5">
                                    </div>
                                </div>
                                <div class="info pl-md-0 pl-1">
                                    <h5 class="title w-100 truncate mb-1">
                                        <a href="/@post.Slug">
                                            @post.Title
                                        </a>
                                    </h5>
                                    <p class="alt-name m-0"><i class="fa-solid fa-star"></i> @post.Year</p>
                                    <div class="mt-1 d-flex overflow-auto no-scroll-bar text-nowrap">
                                        <a href="/Category/@post.Mcategory" class="category"> @post.Mcategory</a>
                                    </div>
                                </div>
                                <div class="links center-flex hide-on-small px-3">

                                    @if (!string.IsNullOrWhiteSpace(post.Tlink1))
                                    {
                                        <a href="@post.Link1" rel="noreferrer" target="_blank" class="dl-@(post.Tlink1.Contains("Magnet") ? "magnet" : "torrent")">
                                            <img src="/icons/download-@(post.Tlink1.Contains("Magnet") ? "magnet" : "torrent").svg" alt="Torrent" title="Download  file">
                                        </a>
                                    }
                                    @if (!string.IsNullOrWhiteSpace(post.Tlink2))
                                    {
                                        <a href="@post.Link2" class="dl-@(post.Tlink1.Contains("Magnet") ? "magnet" : "torrent")">
                                            <img src="/icons/download-@(post.Tlink1.Contains("Magnet") ? "magnet" : "torrent").svg" alt="Magnet" title="Magnet Link">
                                        </a>
                                    }


                                </div>
                            </li>




                        }
                    </ul>
                </div>
                <div class="w3-col">
                    @{
                        string qry = "";
                        var uri = MyNavigationManager.ToAbsoluteUri(MyNavigationManager.Uri);
                        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("q", out var _code))
                        {
                            qry = Convert.ToString(_code);
                        }
                    }
                    <!-- Start: Pagination -->
                    <div class="pagination text-right">
                        @if (!(1 >= pageindex))
                        {
                            <a href="?page=@(pageindex-1)&q=@qry" class="w3-bar-item dual-image-switch-on-hover">◀</a>
                        }

                        @if (!(totalpage <= pageindex))
                        {
                            <a href="?page=@(pageindex+1)&q=@qry" class="w3-bar-item dual-image-switch-on-hover">▶</a>
                        }
                    </div>
                    <!-- End: Pagination -->
                </div>
            }


        </div>
    </div>

    <div class="mb-2">&nbsp;</div>
</main>




@code {
    [Parameter]
    public string? Slug { get; set; }
    public int totalpage { get; set; }
    public int pageindex { get; set; }
    public int pagesize { get; set; }
    public string qry { get; set; }

    List<TblPost> posts = new List<TblPost>();

  
    public List<TblPost> Getuniquename()
    {
        List<TblPost> ls = new List<TblPost>();

        ls = Context.TblPosts.OrderByDescending(x => x.Year).OrderByDescending(x => x.Views).OrderByDescending(x => x.Likes).ToList();
  
        return ls;
    }
    public List<TblPost> GetuniqueBank(string bankname)
    {
        List<TblPost> ls = new List<TblPost>();

        return ls;
    }
    protected override async Task OnInitializedAsync()
    {
        SaveViews.Save($"/Trending", HttpContextAccessor, Context);

        posts = Getuniquename();

        var uri = MyNavigationManager.ToAbsoluteUri(MyNavigationManager.Uri);
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("q", out var _code))
        {
            qry = Convert.ToString(_code);
        }
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("page", out var _page))
        {
            pageindex = Convert.ToInt32(_page);

        }
        else
        {
            pageindex = 1;
        }

        if (!string.IsNullOrWhiteSpace(qry))
        {
            posts.Clear();
            posts = GetuniqueBank(qry);
        }
        pagesize = 10;
        IQueryable<TblPost> query = posts.AsQueryable();
        decimal count = query.Count();
        totalpage = (int)Math.Ceiling(count / (int)pagesize);
        query = query.Skip((pageindex - 1) * (int)pagesize).Take((int)pagesize);
        posts = query.ToList();
    }
}
